<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-APP</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

</head>

<body>
    <div class="nav-header">
        <div class="brand-logo">
            <a href="dashboard.html">
                <b class="logo-abbr"><img src="../images/logo.png" alt=""> </b>
                <span class="logo-compact"><img src="../images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                    <img src="../images/logo-text.png" alt="">
                </span>
            </a>
        </div>
    </div>
    <div class="header">    
        <div class="header-content clearfix">

            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons d-md-flex">
                        <a href="javascript:void(0)" aria-expanded="true">
                            <span class="user_fullname">Administrator</span> 
                        </a>
                    </li>
                    <!-- <li class="icons">
                      <a href="document_history.html">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span class="badge badge-pill gradient-2 my_notification_count_nav"></span>
                      </a>
                    </li> -->

                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="../images/user/form-user.png" height="40" width="40" alt="">
                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <!-- <li>
                                    <a href="change_password.html"><i class="icon-lock"></i> <span>Change Password</span></a>
                                </li> -->
                                <li><a href="#" id="logout_btn"><i class="icon-key"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menu</li>
            <li>
                <a href="admin_user_access.html" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">User Acccess</span>
                </a>
            </li>
            <li>
                <a href="admin_forms.html" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
                </a>
            </li>
            <li>
                <a href="admin_document_history.html" aria-expanded="false">
                    <i class="icon-folder-alt menu-icon"></i><span class="nav-text">Document History</span>
                </a>
            </li>
            
            </ul>
        </div>
    </div>
    <script src="../js/custom.min.js"></script>

