<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-Approval</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <link href="../plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
    <!-- Pignose Calender -->
    <!-- <link href="../plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet"> -->
    <!-- Chartist -->
    <!-- <link rel="stylesheet" href="../plugins/chartist/css/chartist.min.css"> -->
    <!-- <link rel="stylesheet" href="../plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css"> -->
    <!-- Custom Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/ladda-themeless.mins.css" rel="stylesheet">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <!-- <script src="../plugins/datatables/jquery.dataTables.min.css"></script> -->

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <div id="main-wrapper">
        <!-- <div id="sidebar"></div> -->
        <div id="navigator"></div>

        <div class="content-body">

            <h4 class="ml-3 mt-3">Change Password</h4>


            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                              <div class="form-group">
                                <label for="old_pw">Old Password <small class="text-red">*</small></label>
                                <input type="password" class="form-control show_password" id="old_pw" placeholder="Enter Old Password">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                              </div>
                              <div class="form-group">
                                <label for="new_pw">Password <small class="text-red">*</small></label>
                                <input type="password" class="form-control show_password" id="new_pw" placeholder="New Password">
                              </div>
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="show_pw">
                                <label class="form-check-label" for="show_pw">Show Passwords</label>
                              </div>
                              <button id="btn-update_pw" class="btn btn-primary mt-3 ladda-button" data-style="zoom-in">Update</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
    <div class="footer">
      <div class="copyright">
          <p>E-APPROVAL</p>
      </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready( function () {
            $("#navigator").load("navigator.html");
        });
    </script>

    <script src="../plugins/common/common.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
    <script src="../js/styleSwitcher.js"></script>
    <script src="../js/js.cookie.min.js"></script>
    <script src="../plugins/sweetalert/js/sweetalert.min.js"></script>
    <script src="../js/spin.min.js"></script>
    <script src="../js/ladda.min.js"></script>

    <script src="../js/app.js"></script>
    <script src="../js/controllers/change_password.js"></script>

</body>

</html>