<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-Approval</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <!-- Pignose Calender -->
    <!-- <link href="../plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet"> -->
    <!-- Chartist -->
    <!-- <link rel="stylesheet" href="../plugins/chartist/css/chartist.min.css"> -->
    <!-- <link rel="stylesheet" href="../plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css"> -->
    <!-- Custom Stylesheet -->
    <!-- <link href="../plugins/sweetalert/css/sweetalert.css" rel="stylesheet"> -->
    <link href="../plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../js/jquery-3.6.0.min.js"></script>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <div id="main-wrapper">
        <!-- <div id="sidebar"></div> -->
        <div id="navigator"></div>

        <div class="content-body">
            <h4 class="ml-3 mt-3">Document History</h4>

            <div class="container-fluid mt-3">
               
                <div class="card">

                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="notification-history-tab" data-toggle="tab" href="#notification-history" role="tab" aria-controls="notification-history" aria-selected="true">
                                  <i class="fa fa-envelope-o"></i> Notification History</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="request-history-tab" data-toggle="tab" href="#request-history" role="tab" aria-controls="request-history" aria-selected="false">
                                  <i class="fa fa-list-alt"></i> Request History</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="cancel_history-tab" data-toggle="tab" href="#cancel_history" role="tab" aria-controls="cancel_history" aria-selected="false">
                                  <i class="fa fa-exclamation-triangle"></i> Cancel History</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="approval-history-tab" data-toggle="tab" href="#approval-history" role="tab" aria-controls="approval-history" aria-selected="false">
                                  <i class="fa fa-check-circle-o"></i> Approval History</a>
                            </li>
                            <li class="nav-item show_if_np" hidden>
                                <a class="nav-link" id="overall-summary-tab" data-toggle="tab" href="#overall-summary" role="tab" aria-controls="overall-summary" aria-selected="false">
                                    <i class="fa fa-list"></i> Overall Summary Report</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="notification-history" role="tabpanel" aria-labelledby="notification-history-tab">
                               
                                <div class="table-responsive">
                                    <table class="table header-border" id="notification_tbl" width="100%" cellspacing="0">
                                        
                                    </table>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="request-history" role="tabpanel" aria-labelledby="request-history-tab">
                                <div class="table-responsive">
                                    <table class="table header-border" id="request_tbl" width="100%" cellspacing="0">
                                        
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cancel_history" role="tabpanel" aria-labelledby="cancel_history-tab">
                                <div class="table-responsive">
                                    <table class="table header-border" id="cancelled_tbl" width="100%">
                                        
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approval-history" role="tabpanel" aria-labelledby="approval-history-tab">
                                <div class="table-responsive">
                                    <table class="table header-border" id="approval_tbl" width="100%">
                                        
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="overall-summary" role="tabpanel" aria-labelledby="overall-summary-tab">
                                <div class="form-row mt-4">
                                    <div class="col-md-3 mb-3">
                                        <label for="date_from">From <small class="text-red">*</small></label>
                                        <select class="custom-select" id="date_from">
                                            <option selected value="">Choose...</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="date_to">To <small class="text-red">*</small></label>
                                        <select class="custom-select" id="date_to">
                                            <option selected value="">Choose...</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="inp_year">Year <small class="text-red">*</small></label>
                                        <input class="form-control" type="number" id="inp_year" placeholder="Enter Year" style="min-height: 35px !important; height: 35px !important;">
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <!-- <label for="inp_year">Year <small class="text-red">*</small></label> -->
                                        <!-- <input class="form-control" type="number" id="inp_year" placeholder="Enter Year" style="min-height: 35px !important; height: 35px !important;"> -->
                                        <input class="btn btn-sm btn-success search_data" value="Search" style="margin-top: 33px;">
                                    </div>
                                </div>

                                

                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <!-- <ol class="carousel-indicators" style="filter: invert(100%)">
                                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol> -->
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <h5 class="text-muted">Processing Summary</h5>
                                        <div class="d-flex justify-content-center custom-container-overall-report">
                                            <div class="table-responsive w-75">
                                                <table class="table table-striped header-border" id="status_tbl" width="100%">
                                                </table>
                                            </div>
                                        </div>

                                      </div>
                                      <div class="carousel-item">
                                        <h5 class="text-muted">Lead Time Approval Summary</h5>
                                        <div class="d-flex justify-content-center custom-container-overall-report">
                                            <div class="table-responsive w-75">
                                                <table class="table table-striped header-border" id="status_by_name_tbl" width="100%">
                                                </table>
                                            </div>
                                        </div>

                                      </div>
                                      <div class="carousel-item">
                                        <h5 class="text-muted">Processing Chart</h5>
                                        <div class="d-flex justify-content-center custom-container-overall-report">
                                            <canvas id="barChartSummary" width="400" height="250"></canvas>
                                        </div>
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev text-red" href="#carouselExampleIndicators" role="button" data-slide="prev" style="filter: invert(100%)">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="filter: invert(100%)">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>

                <!-- NOTIFICATION MODAL -->
				<div id="modal-view_notif_details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Request Summary</h5>
                                <span class="label label-sm txt_document_status"></span>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <h5>Request Details</h5>
                                    <div class="custom-list-group">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Transaction #:</div>
                                                    <div class="col-7 txt_trans_no"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Document:</div>
                                                    <div class="col-7 txt_category"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Requestor:</div>
                                                    <div class="col-7 txt_requestor"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Subject:</div>
                                                    <div class="col-7 txt_document_title"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Message:</div>
                                                    <div class="col-7 txt_requestor_message"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Date Requested:</div>
                                                    <div class="col-7 txt_date_request"></div>
                                                </div>
                                            </li>
                                            <!-- <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Date Approved:</div>
                                                    <div class="col-7 txt_date_approved"></div>
                                                </div>
                                            </li> 
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Approved By:</div>
                                                    <div class="col-7 txt_approved_by"></div>
                                                </div>
                                            </li> -->
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Approver List</div>
                                                    <div class="col-7 txt_approver_list"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Notified Person(s)</div>
                                                    <div class="col-7 txt_notified_person_list"></div>
                                                </div>
                                            </li>
                                          </ul>
                                    </div>
                                    <h5>Attachments</h5>
                                    <div class="custom-list-group">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Main Attachment:</div>
                                                    <div class="col-7 file_main_attch"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Supporting Attachment:</div>
                                                    <div class="col-7 file_sup_attch"></div>
                                                </div>
                                            </li>
                                          </ul>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <div class="footer">
      <div class="copyright">
          <p>E-APPROVAL</p>
      </div>
    </div>
  
    
    <script type="text/javascript">
        $(document).ready( function () {
            $("#navigator").load("navigator.html");
        });
    </script>

    <script src="../plugins/common/common.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
    <script src="../js/styleSwitcher.js"></script>
    <script src="../js/js.cookie.min.js"></script>
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- <script src="../plugins/sweetalert/js/sweetalert.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="../js/chart.min.js"></script>
  
    <script src="../js/app.js"></script>
    <script src="../js/controllers/document_history.js"></script>
    
    

</body>

</html>