<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-Approval</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <!-- Pignose Calender -->
    <!-- <link href="../plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet"> -->
    <!-- Chartist -->
    <!-- <link rel="stylesheet" href="../plugins/chartist/css/chartist.min.css"> -->
    <!-- <link rel="stylesheet" href="../plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css"> -->
    <!-- Custom Stylesheet -->
    <link href="../plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../js/jquery-3.6.0.min.js"></script>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <div id="main-wrapper">
        <!-- <div id="sidebar"></div> -->
        <div id="navigator"></div>

        <div class="content-body">
            <h4 class="ml-3 mt-3">Document History</h4>

            <div class="container-fluid mt-3">
               
                <div class="card">

                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="notification-history-tab" data-toggle="tab" href="#notification-history" role="tab" aria-controls="notification-history" aria-selected="true">
                                  <i class="fa fa-envelope-o"></i> Notification History</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="request-history-tab" data-toggle="tab" href="#request-history" role="tab" aria-controls="request-history" aria-selected="false">
                                  <i class="fa fa-list-alt"></i> Request History</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="cancel_history-tab" data-toggle="tab" href="#cancel_history" role="tab" aria-controls="cancel_history" aria-selected="false">
                                  <i class="fa fa-exclamation-triangle"></i> Cancel History</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="approval-history-tab" data-toggle="tab" href="#approval-history" role="tab" aria-controls="approval-history" aria-selected="false">
                                  <i class="fa fa-check-circle-o"></i> Approval History</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="notification-history" role="tabpanel" aria-labelledby="notification-history-tab">
                               
                                <div class="table-responsive">
                                    <table class="table header-border" id="notification_tbl" width="100%" cellspacing="0">
                                        
                                    </table>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="request-history" role="tabpanel" aria-labelledby="request-history-tab">
                                <div class="table-responsive">
                                    <table class="table header-border" id="request_tbl" width="100%" cellspacing="0">
                                        
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cancel_history" role="tabpanel" aria-labelledby="cancel_history-tab">
                                <div class="table-responsive">
                                    <table class="table header-border" id="cancelled_tbl" width="100%">
                                        
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="approval-history" role="tabpanel" aria-labelledby="approval-history-tab">
                                <div class="table-responsive">
                                    <table class="table header-border" id="approval_tbl" width="100%">
                                        
                                    </table>
                                </div>
                            </div>
                        </div>

                <!-- NOTIFICATION MODAL -->
				<div id="modal-view_notif_details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Request Summary</h5>
                                <span class="label label-sm txt_document_status"></span>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <h5>Request Details</h5>
                                    <div class="custom-list-group">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Transaction #:</div>
                                                    <div class="col-7 txt_trans_no"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Document:</div>
                                                    <div class="col-7 txt_category"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Requestor:</div>
                                                    <div class="col-7 txt_requestor"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Subject:</div>
                                                    <div class="col-7 txt_document_title"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Message:</div>
                                                    <div class="col-7 txt_requestor_message"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Date Requested:</div>
                                                    <div class="col-7 txt_date_request"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Date Approved:</div>
                                                    <div class="col-7 txt_date_approved"></div>
                                                </div>
                                            </li> 
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Approved By:</div>
                                                    <div class="col-7 txt_approved_by"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Approver List</div>
                                                    <div class="col-7 txt_approver_list"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Notified Person(s)</div>
                                                    <div class="col-7 txt_notified_person_list"></div>
                                                </div>
                                            </li>
                                          </ul>
                                    </div>
                                    <h5>Attachments</h5>
                                    <div class="custom-list-group">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Main Attachment:</div>
                                                    <div class="col-7 file_main_attch"></div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-5 label">Supporting Attachment:</div>
                                                    <div class="col-7 file_sup_attch"></div>
                                                </div>
                                            </li>
                                          </ul>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <div class="footer">
      <div class="copyright">
          <p>E-APPROVAL</p>
      </div>
    </div>
  
    
    <script type="text/javascript">
        $(document).ready( function () {
            $("#navigator").load("navigator.html");
        });
    </script>

    <script src="../plugins/common/common.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
    <script src="../js/styleSwitcher.js"></script>
    <script src="../js/js.cookie.min.js"></script>
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/sweetalert/js/sweetalert.min.js"></script>

    <script src="../js/app.js"></script>
    <script src="../js/controllers/document_history.js"></script>
    
    

</body>

</html>