<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-APP</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link href="../css/style.css" rel="stylesheet">

</head>

<body> -->
    <div class="nav-header">
        <div class="brand-logo">
            <a href="dashboard.html">
                <b class="logo-abbr"><img src="../images/logo.png" alt=""> </b>
                <span class="logo-compact"><img src="../images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                    <img src="../images/logo-text.png" alt="">
                </span>
            </a>
        </div>
    </div>
    <div class="header">    
        <div class="header-content clearfix">

            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons d-md-flex">
                        <a href="javascript:void(0)" aria-expanded="true">
                            <span class="user_fullname"></span> 
                        </a>
                    </li>
                    <li class="icons"><a href="document_history.html">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="badge badge-pill gradient-2 my_notification_count_nav"></span>
                    </a>
                    <!-- <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                        <div class="dropdown-content-heading d-flex justify-content-between">
                            <span class="">2 New Notifications</span>  

                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Events near you</h6>
                                            <span class="notification-text">Within next 5 days</span> 
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Event Started</h6>
                                            <span class="notification-text">One hour ago</span> 
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Event Ended Successfully</h6>
                                            <span class="notification-text">One hour ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void()">
                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Events to Join</h6>
                                            <span class="notification-text">After two days</span> 
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div> -->
                </li>

                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="../images/user/form-user.png" height="40" width="40" alt="">
                    </div>
                    <div class="drop-down dropdown-profile   dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="page-lock.html"><i class="icon-lock"></i> <span>Change Password</span></a>
                                </li>
                                <li><a href="#" id="logout_btn"><i class="icon-key"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menu</li>
            <li>
                <a href="dashboard.html" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="request_document.html" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Request Document</span>
                </a>
            </li>
            <li>
                <a href="approve_document.html" aria-expanded="false">
                    <i class="icon-check menu-icon"></i><span class="nav-text">Approve Document</span>
                </a>
            </li>
            <li>
                <a href="document_history.html" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Document History </span>
                </a>
            </li>
            <!-- <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i> <span class="nav-text">Documents</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="document_history.html">Document History</a></li>
                </ul>
                <ul aria-expanded="false">
                    <li><a href="request_document.html">Request Document</a></li>
                </ul>
            </li> -->
            
            <!-- <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-check menu-icon"></i> <span class="nav-text">Approvals</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="approve_document.html">Approve Document</a></li>
                </ul>
            </li> -->
            </ul>
        </div>
    </div>
    <!-- <script src="../plugins/common/common.min.js"></script> -->
    <script src="../js/custom.min.js"></script>

    <!-- <script src="../js/settings.js"></script> -->
    <!-- <script src="../js/gleek.js"></script> -->
    <!-- <script src="../js/styleSwitcher.js"></script> -->
